<mat-card>
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput type="text" placeholder="Entrez votre identifiant" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Entrez votre mot de passe" [(ngModel)]="password">
      </mat-form-field>
      <button mat-button color="primary">Connexion</button>
      <button mat-button color="accent">Mot de passe oublié</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">Créer un compte</button>
  </mat-card-actions>
</mat-card>
